/* LAYOUT */
.app-toolbar { grid-area: toolbar; }
.app-nav-drawer { grid-area: drawer; }
.app-main { grid-area: main; }
.app-footer { grid-area: footer; }
.app-layout {
    height: 100vh;
    width: 100vw;
    display: grid;
    grid-template-rows: 50px 1fr auto;
    grid-template-columns: 15% 1fr 1fr;
    grid-template-areas: 
    "toolbar toolbar toolbar toolbar"
    "drawer main main main"
    "drawer footer footer footer";
}

/** COMPONENTS **/
.list {
    overflow-x: hidden;
    overflow-y: auto;
    list-style: none;
}
.list-item {
    padding: 5px;
}
.link { text-decoration: none; }
.link:hover { color: #1976D2; }
.card { box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); }
.hover { transition: 0.3s; cursor: pointer; }
.hover:hover { box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2); }
.card-image { height: 250px; width: 500px; }
.avatar { 
    height: 50px; 
    width: 50px; 
    border-radius: 50%;
    display: inline;
}
.library-table {
    width: 100%;
}
.library-table-thumbnail {
    height: 50px;
    width: 75px;
}
table.library-table td {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
table.library-table tr:hover {
    filter: brightness(85%);
    cursor: pointer;
}
.btn {
    background-color: inherit;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0;
    text-decoration: none;
    cursor: pointer;
    text-align: center;
    outline: none;
}
.btn:disabled {
    cursor: default;
}
.btn:hover, .btn:focus {
    filter: brightness(85%);
}
br {
    content: "";
    border-bottom: 1px solid #404040;
}

/** MARGIN & PADDING **/
.ma-0 { margin: 0px; }
.ma-1 { margin: 6px; }
.ma-3 { margin: 24px; }
.pa-0 { padding: 0px; }
.pa-1 { padding: 6px; }
.pa-3 { padding: 24px; }
.center-vertical {
    margin: 0;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

/** FLEX **/
.d-flex { 
    display: flex; 
    flex-direction: row; 
}
.justify-space-around { justify-content: space-around; }
.flex-grow-1 { flex-grow: 1; }
.align-center { align-items: center;}
.justify-end { justify-content: flex-end; }
.justify-center { justify-content: center; }
.flex-column { flex-direction: column !important; }
.d-inline { display: inline; }
.d-block { display: block; }

/** TYPOGRAPHY **/
.text-center { text-align: center; }
.headline { font-size: 3em; }
.title { font-size: 1.5em; }

/* COLORS*/
.text-primary { color: #1976D2; }
.text-secondary { color: #424242; }
.text-accent { color: #82B1FF; }
.text-error { color: #FF5252; }
.text-info { color: #2196F3; }
.text-success { color: #4CAF50; }
.text-warning { color: #FFC107; }
.text-black { color: black; }
.text-white { color: white;}
.text-grey { color: #7b7b7b; }
.text-grey-lighten-1 { color: #b6b6b6; }
.text-grey-darken-1 { color: #404040; }
.primary { background-color: #1976D2; }
.secondary { background-color: #424242; }
.accent { background-color: #82B1FF; }
.error { background-color: #FF5252; }
.info { background-color: #2196F3; }
.success { background-color: #4CAF50; }
.warning { background-color: #FFC107; }
.black { background-color: black; }
.white { background-color: white;}
.grey { background-color: #7b7b7b; }
.grey-lighten-1 { background-color: #b6b6b6; }
.grey-darken-1 { background-color: #404040; }

/** HOME LINK **/
.home-link { display: inline; }
.home-link > img {
    height: 36px;
    width: 36px;
}